{% extends 'base.html.twig' %}

{% block title %}
    {% if event is defined and event is not null %}
        Editar
    {% else %}
        Añadir
    {% endif %}
    evento | Cinefily
{% endblock %}

{% block main %}

    <div class="add-event-form">
        <div class="title">
            <h5><i class="fas fa-film"></i>
                {% if event is defined and event is not null %}
                    Editar
                {% else %}
                    Añadir
                {% endif %}
                evento
            </h5>
        </div>
        {{ form_start(form) }}

        <div class="row">
            <div class="title-event col-12 col-md-4 ">
                {{ form_row(form.title) }}
            </div>

            <div class="type-event col-12 col-md-4">
                {{ form_row(form.type) }}
            </div>

            <div class="gender-event col-12 col-md-4">
                {{ form_row(form.gender) }}
            </div>

            <div class="description-event col-12 col-md-4">
                {{ form_row(form.description) }}
            </div>

            <div class="duration-event col-12 col-md-2 ">
                {{ form_row(form.duration) }}
            </div>

            <div class="release-date-event col-12 col-md-2">
                {{ form_row(form.rating) }}
            </div>

            <div class="rating-event col-12 col-md-4">
                {{ form_row(form.release_date) }}
            </div>

            <div class="age-rating-event col-md-4">
                {{ form_row(form.age_rating) }}
            </div>

            <div class="director-event col-12 col-md-4">
                {{ form_row(form.director) }}
            </div>

            <div class="actors-event col-12 col-md-4">
                {{ form_row(form.actors) }}
            </div>

            <div class="actors-event col-12 col-md-4">
                {{ form_row(form.tag_line) }}
            </div>

            <div class="poster-photo-event col-12 col-md-4">
                {{ form_row(form.poster_photo) }}
            </div>

            <div class="backdrop-photo-event col-12 col-md-4">
                {{ form_row(form.backdrop_photo) }}
            </div>

            <div class="backdrop-photo-event col-12 col-md-4">
                {{ form_row(form.youtube_trailer) }}
            </div>

            <div class="status-event col-12 col-md-4">
                {{ form_row(form.status) }}
            </div>

            <div class="submit-event col-12 text-center">
                {{ form_row(form.submit) }}
            </div>

        </div>
    </div>
    {{ form_end(form) }}


{% endblock %}

{% block custom_body_javascript %}

    <script>
        // Para mostrar el nombre de los archivos seleccionados

        $('#add_event_poster_photo').change(function () {
            $('.custom-file label[for="add_event_poster_photo"]').text(this.files[0].name);
        });

        $('#add_event_backdrop_photo').change(function () {
            $('.custom-file label[for="add_event_backdrop_photo"]').text(this.files[0].name);
        });
    </script>
{% endblock %}