{% extends 'base.html.twig' %}

{% block title %}Buscar | Cinefily{% endblock %}

{% set currentPath = app.request.requesturi %}

{% macro delete_event(id_event, currentPath) %}

    {# Modal para borrar un evento #}
    <div class="modal fade" id="deleteEvent-{{ id_event }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteEvent">Borrar evento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿ Seguro que quieres borrar el evento ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <a class="btn btn-danger " href="/event/delete?id_event={{ id_event }}&path={{ currentPath }}">Sí,
                        estoy seguro</a>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% import _self as helper %}

{% block main %}
    {% if event_title is empty and event_type is not null and event_type!='evento' %}
        <div class="h4 m-5"> Todas las películas</div>
    {% elseif event_title is empty and event_type is not null and event_type=='evento' %}
        <div class="h4 m-5"> Todos los eventos</div>
    {% else %}
        <div class="h4 m-5"> Busquedas para "{{ event_title }}"</div>
    {% endif %}
    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col">Evento</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Sesiones activas</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for event in results %}
            <tr>
                <th scope="row" class="col-md-3">
                    <div class="row">
                        <div class="col-12">
                            <img src="{{ asset('uploads/images/' ~ event.getPosterPhoto()) }}" width="135" height="200"
                                 alt="cover"/>
                        </div>

                        <div class="col-12 mt-1">
                            <div class="h5">{{ event.getTitle() }}</div>
                        </div>
                    </div>

                </th>
                <td class="col-md-4">{{ event.getDescription() }}</td>
                <td class="col-md-3">
                    {% if sessions[event.getId()] is defined and sessions[event.getId()] is not empty %}
                        {% for session in sessions[event.getId()] %}
                            <p>{{ session.getCinema().getName() }}</p>
                            <a class="btn btn-primary" href="/booking/?session={{ session.getId() }}"
                               role="button">{{ session.getSchedule()|date(" H:i") }}</a>
                        {% endfor %}
                    {% else %}

                        <div class="h6">No hay sesiones programadas</div>
                    {% endif %}
                </td>
                <td class="col-md-3">
                    <a class="btn btn-info" href="/event/details?id={{ event.getId() }}">
                        <i class="fas fa-eye"></i>
                    </a>
                    {% if app.user and app.user.privileges == constant('ROLE_ADMIN', app.user) %}
                        <a class="btn btn-warning" href="/event/edit?id={{ event.getId() }}">
                            <i class="fas fa-pencil-alt"></i>
                        </a>

                        <button class="btn btn-danger" data-toggle="modal"
                                data-target="#deleteEvent-{{ event.getId() }}">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    {% endif %}
                </td>
            </tr>

            {{ helper.delete_event(event.getId(), currentPath) }}
        {% endfor %}
        </tbody>


    </table>
    <div class="navigation ">
        {{ knp_pagination_render(results, null, {}, {
            'align': 'center',
            'size': 'large',
            'rounded': true,
        }) }}
    </div>


{% endblock %}

{% block custom_body_javascript %}

{% endblock %}