{# Si tiene el id de imdb y el id de Cinefily significa que una película con datos de imdb ha sido guardada en cinefily #}
{% if tmdb_id is defined and tmdb_id is not null and id is defined and id is not null %}
    {% set href_movie = 'event/details?id=' ~ id ~ '&tmdb_id=' ~ tmdb_id %}
{% elseif tmdb_id is defined and tmdb_id is not null %}
    {% set href_movie = 'event/details?tmdb_id=' ~ tmdb_id %}
{% else %}
    {% set href_movie = 'event/details?id=' ~ id %}
{% endif %}

<div class="card">
    <div class="card_left">
        {% if data_film.poster_photo is not null and strPosString(data_film.poster_photo,'image.tmdb.org',8) != false %}
            <img src="{{ data_film.poster_photo }}" alt="Poster photo"/>
        {% elseif data_film.poster_photo is not null %}
            <img src="{{ asset('uploads/images/' ~ data_film.poster_photo) }}" class="db_poster_photo"
                 alt="Poster photo"/>
        {% endif %}
    </div>
    <div class="card_right">
        <div class="film-id">
            {% if id is defined and id is not null %}
                <p class="mt-3">ID: {{ id }}</p>
            {% else %}
                TMDB ID: {{ tmdb_id }}
            {% endif %}
        </div>
        <h1>{{ data_film.title }}</h1>
        <div class="card_right__details">
            <ul>
                <li><i class="fas fa-calendar pr-2"></i>{{ data_film.release_date }}</li>
                {% if data_film.duration is defined and data_film.duration is not null %}
                    <li><i class="fas fa-stopwatch pr-2"></i>{{ data_film.duration }} min</li>
                {% endif %}
                {% if data_film.genres is defined and data_film.genres is not null %}
                    <li><i class="fas fa-tags pr-2"></i> {{ data_film.genres }}</li>
                {% endif %}
                {% if data_film.mark is defined and data_film.mark is not null %}
                    <li><i class="fab fa-imdb pr-2"></i> {{ data_film.mark }}</li>
                {% endif %}
            </ul>

            <div class="card_right__review">
                {{ data_film.summary }}
            </div>

            <div class="card_right_actions">
                <div class="row">
                    {% if data_film.youtube_trailer is defined and data_film.youtube_trailer is not null %}
                        {% set class="col-6" %}
                    {% else %}
                        {% set class="col-12 justify-content-center" %}
                    {% endif %}
                    <div class="{{ class }}">
                        <div class="card_right__button_l">
                            <i class="fas fa-play"></i><a
                                    href={{ href_movie }}>Leer
                                más</a>
                        </div>
                    </div>
                    {% if data_film.youtube_trailer is defined and data_film.youtube_trailer is not null %}
                        <div class="col-6">
                            <div class="card_right__button">
                                <a href=https://www.youtube.com/watch?v={{ data_film.youtube_trailer}} target="_blank">Trailer</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>

