{# Si tiene el id de imdb y el id de Cinefily significa que una película con datos de imdb ha sido guardada en cinefily #}
{% if tmdb_id is defined and tmdb_id is not null and id is defined and id is not null %}
    {% set href_movie = 'event/details?id=' ~ id ~ '&tmdb_id=' ~ tmdb_id %}
{% elseif tmdb_id is defined and tmdb_id is not null %}
    {% set href_movie = 'event/details?tmdb_id=' ~ tmdb_id %}
{% else %}
    {% set href_movie = 'event/details?id=' ~ id %}
{% endif %}

<div class="card">
    <div class="card_left">
        {% if strPosString(data_film.poster_photo,'image.tmdb.org',8) != false %}
            <img src="{{ data_film.poster_photo }}" alt="Poster photo"/>
        {% else %}
            <img src="{{ asset('uploads/images/' ~ data_film.poster_photo) }}" class="db_poster_photo" alt="Poster photo"/>
        {% endif %}
    </div>
    <div class="card_right">
        <div class="film-id">
            {% if id is defined and id is not null %}
               <p class="mt-3">ID: {{ id }}</p>
            {% else %}
                TMDB ID: {{ tmdb_id }}
            {% endif %}
        </div>
        <h1>{{ data_film.title }}</h1>
        <div class="card_right__details" onclick="location.href = '{{ href_movie }}';" style="cursor: pointer;">
            <ul>
                <li> <i class="fas fa-calendar pr-2"></i>{{ data_film.release_date }}</li>
                <li><i class="fas fa-stopwatch pr-2"></i>{{ data_film.duration }} min</li>
                <li><i class="fas fa-tags pr-2"></i> {{ data_film.genres }}</li>
            </ul>

            <div class="card_right__review">
                {{ data_film.summary }}
                <a href="http://www.imdb.com/title/tt0266697/plotsummary?ref_=tt_stry_pl" target="_blank">Leer más</a>

                <div class="card_right__button" onclick="location.href = 'https://www.youtube.com/watch?v=ot6C1ZKyiME';">
                    <a href="https://www.youtube.com/watch?v=ot6C1ZKyiME" target="_blank">TRAILER</a>
                </div>
            </div>

        </div>
    </div>
</div>

