{% if event is not defined %}
    {% set event= ticket.event %}
{% endif %}
{% if session is not defined %}
    {% set session= ticket.session %}
{% endif %}
{% if room is not defined %}
    {% set room= ticket.room %}
{% endif %}
{% if cinema is not defined %}
    {% set cinema= ticket.cinema %}
{% endif %}

<div class="movie-ticket">
    <div class="movie-header poster-ticket"
         style="background: url({{ asset('uploads/images/' ~ event.getPosterPhoto()) }}); background-size: cover; background-position: center">
    </div><!--movie-header-->
    <div class="movie-content">
        <div class="movie-content-header">
            <div class="h6 movie-title">{{ event.getTitle() }}</div>
            {# <div class="imax-logo"></div> #}
        </div>
        <div class="movie-info">
            <div class="info-section">
                <label>Fecha</label>
                <span>{{ session.schedule|date('d/m/y H:i') }}</span>
            </div><!--date,time-->
            <div class="info-section">
                <label>Sala</label>
                <span>{{ room.getNumber() }}</span>
            </div><!--screen-->
            <div class="info-section">
                <label>Fila/Asiento</label>
                <span>
                    {% if matrixSeats is defined %}

                        {% for row,columns in matrixSeats %}
                            {% for column in columns %}
                                {{ row }}/{{ column }}
                            {% endfor %}
                        {% endfor %}

                    {% else %}
                        {{ ticket.ticket.getSeatBooked().getSeat().getRow() }} /
                        {{ ticket.ticket.getSeatBooked().getSeat().getNumber() }}
                    {% endif %}
                </span>
            </div><!--row-->
        </div>


        {% if ticket.ticket is defined and ticket.ticket.getQrCode() is not null %}
            {% set qr= ticket.ticket.getQrCode() %}
        {% endif %}
        <div class="row">
            <div class="col-6">
                <div class="info-section">
                    <label class="text-left mt-3">Cine</label>
                    <span>{{ room.getCinema().getName() }}</span>
                </div>
            </div>

            {% if qr is defined and qr is not null %}
                <svg class="col-6" height="90">
                    {{ qr|raw }}
                </svg>
            {% endif %}
        </div>
    </div><!--movie-content-->
</div><!--movie-card-->