{% extends 'base.html.twig' %}

{% block title %}Pago | Cinefily{% endblock %}

{% block main %}


    <div class="booking-page">
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-2">
                <div class="stepwizard col-md-offset-3">
                    <div class="stepwizard-row setup-panel">
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-default btn-circle" disabled="disabled">1</button>
                            <p class="h6"> Reserva de asientos</p>
                        </div>
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-primary btn-circle">2</button>
                            <p class="h6">Confirmación y pago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {# Detalles de la sesión: nombre del evento, portada, horario... #}
            <div class="col-12 col-md-2">
                {% include 'booking/includes/session_details.html.twig' %}
            </div>

            <div class="col-12 col-md-8 ">
                <div class="container d-flex justify-content-center m-4">
                    <div class="row">
                        <div class="col-12">
                            {% if email is defined and email is not null %}
                                <p class="h6"><i class="fas fa-info-circle"></i> Las entradas se enviarán al correo
                                    <span class="font-weight-bold">{{ email }} </span></p>
                            {% endif %}
                            {% if n_seats > 1 %}
                                <p class="h6"> Los {{ n_seats }} asientos que has elegido son:</p>
                            {% else %}
                                <p class="h6"> El asiento que has elegido es:</p>
                            {% endif %}
                        </div>
                        <div class="col-12">
                            <ul class="list-group">
                                {% for seat in seats %}
                                    <li class="list-group-item font-weight-bold"> {{ seat }} </li>
                                {% endfor %}
                                <li class="list-group-item list-group-item-secondary" id="totalPrice">
                                    <i class="fas fa-coins mr-2"></i>Precio
                                    total:
                                    {{ cinema.getTicketsPrice()*n_seats }} euros
                                </li>
                            </ul>
                        </div>

                        <div class="col-12">
                            <div class="row">

                                <div class="col-12 mt-3 mb-2 font-weight-bold"><i class="fas fa-tag mr-2"></i>Cupón de
                                    descuento:
                                </div>
                                <div class="col-12 col-md-4">
                                    <input type="text" name="coupon" id="coupon" class="form-control"
                                           title="Introduce el cupon">
                                </div>
                                <div class="col-12 col-md-3">
                                    <button id="in" class="btn btn-info" onclick="validate()">Validar</button>
                                </div>
                                <div class="col-12 col-md-5" id="notification"></div>

                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center m-4">
                            {% include 'session/includes/ticket_movie.html.twig' %}
                        </div>

                        <div class="col-12 d-flex justify-content-center">
                            <a class="btn btn-success mt-3 mr-2" href="/booking/payment" data-toggle="modal"
                               data-target="#paymentTickets"><i class="fas fa-shopping-cart pr-2"></i>Comprar</a>
                            <a class="btn btn-danger mt-3" href="/booking/payment" data-toggle="modal"
                               data-target="#cancelModal"><i class="fas fa-window-close pr-2"></i>Cancelar</a>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>



    {# Modal para el pago de entradas por Paypal o reserva de entradas #}
    <div class="modal fade" id="paymentTickets" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="paymentTickets">Pago</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Total a pagar:
                    <div class="font-weight-bold">{{ cinema.getTicketsPrice()*n_seats }} euros</div>
                    <br>
                    Elige el método de pago
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
                    <a class="btn btn-warning" onclick="sendSeats('paypal')">
                        <i class="fab fa-cc-paypal pr-2"></i>PayPal</a>
                    <a class="btn btn-success" onclick="sendSeats('cash')">
                        <i class="fas fa-coins pr-2"></i>En taquilla</a>
                </div>
            </div>
        </div>
    </div>

    {# Modal para la cancelación del proceso de entradas #}
    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelModal">Cancelar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Seguro que quieres cancelar el proceso de reserva de las entradas?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Seguir con el proceso</button>
                    <a class="btn btn-danger " href="/showtimes">Sí, estoy seguro</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_body_javascript %}

    {{ parent() }}
    <script>
        var resultCoupon = undefined;

        // Función para actualizar enviar los datos de toda la reserva
        function sendSeats(method) {
            window.location = window.location.origin + "/booking/payment?method=cash&seats=" + "{{ seats|join(', ') }}" +
                "&id_session=" + {{ session.getId() }} +'&method=' + method + '&price=' +{{ cinema.getTicketsPrice() }}
                +'&email=' + "{{ email }}" + '&id_coupon=' + resultCoupon;
        }

        // Función para convertir los arrays de twig en arrays de javascript
        function getJSonObject(value) {
            return $.parseJSON(value.replace(/&quot;/ig, '"'));
        }


        // Función para validar el cupón de descuento
        function validate() {

            let couponInput = $("#coupon").val();
            let coupons = getJSonObject("{{ coupons|json_encode() }}");
            if (coupons.length === 0) {
                document.getElementById("notification").innerHTML = "<b style='margin-left:2px;background:#ffa2a2;'>" +
                    "<i class='fas fa-exclamation p-2'></i> No hay cupones disponibles para ti</b>";
            } else {
                $.each(coupons, function (k, coupon) {
                    if (coupon['code'] === couponInput && coupon['active'] && (coupon['expiration']===undefined || new Date()< coupon['expiration'])) {
                        document.getElementById("notification").innerHTML = "<b style='margin-left:2px;background:lightgreen;'>" +
                            "<i class='fas fa-check-square'></i> Cupón aplicado " + coupon['discount'] + "% de descuento</b>";
                        var discount = coupon['discount'] / 100;
                        var oldPrice ={{ cinema.getTicketsPrice()*n_seats }};
                        var newPrice = oldPrice - (oldPrice * discount);
                        var oldMessage = "Precio total: " + oldPrice + " euros";
                        var newMessage = "Precio total: " + newPrice + " euros";
                        document.getElementById("totalPrice").innerHTML = "<b>" +
                            "<i class='fas fa-coins mr-2'></i>" + oldMessage.strike() + "</b> <br> " +
                            "<b>" + newMessage + "</b> <br> ";
                        resultCoupon = coupon['id'];
                        return false;
                    } else {
                        document.getElementById("notification").innerHTML = "<b style='margin-left:2px;background:#ffa2a2;'>" +
                            "<i class='fas fa-exclamation p-2'></i> Código de cupón no válido</b>";
                    }
                });
            }


        }


    </script>

{% endblock %}