{% extends 'base.html.twig' %}

{% block title %}Asientos | Cinefily{% endblock %}


{% block main %}

    <!--suppress HtmlFormInputWithoutLabel, EqualityComparisonWithCoercionJS -->
    <div class="booking-page">

        <div class="row">
            {# Detalles de la sesión: nombre del evento, portada, horario... #}
            <div class="col-12 col-md-2">
                {% include 'booking/includes/session_details.html.twig' %}
            </div>
            <div class="col-12 col-md-10">
                {# Formulario para introducir email y número de asientos #}
                <div class="inputForm d-flex justify-content-center m-4">
                    <div class="row">
                        <div class="col-12 col-md-8 ">
                            <label for="userEmail">Email:</label>
                            {% if app.user %}
                                <input type="email" class="form-control" id="userEmail"
                                       value={{ app.user.getEmail() }} required>
                            {% else %}
                                <input type="email" class="form-control" id="userEmail" required>
                            {% endif %}
                            <small id="emailHelp" class="form-text text-muted">Email que recibirá las entradas</small>
                        </div>
                        <div class="col-12 mt-2">
                            <label for="numSeats">Número de asientos: </label>
                        </div>
                        <div class="col-12 col-md-2">
                            <input type="number" class="form-control" id="numSeats" required>
                            <small id="emailHelp" class="form-text text-muted">Máximo 10 asientos</small>
                        </div>
                        <div class="col-12 ">
                            <button onclick="takeData()" class="btn btn-dark btn-sm mt-2">Empezar seleccion</button>
                        </div>
                        <div class="col-12 col-md-6" id="notification"></div>
                    </div>
                </div>
                {# Termina formulario #}


                <div class="d-flex justify-content-center m-4">

                    <div class="seatStructure">

                        <table id="seatsBlock">

                            <tr>
                                <td colspan="14">
                                    <div class="screen ml-5">PANTALLA</div>
                                </td>
                                <td rowspan="20">
                                    <div class="smallBox greenBox text-white mr-2 ml-2"><span
                                                class="ml-2">Seleccionado</span></div>
                                    <br/>
                                    <div class="smallBox redBox text-white mr-2 ml-2">Reservado</div>
                                    <br/>
                                    <div class="smallBox emptyBox text-white mr-2 ml-2">Vacío</div>
                                    <br/>
                                </td>

                                <br/>
                            </tr>

                            {# Este bucle es sólo para mostrar el número de asiento #}
                            <tr>
                                <td class="text-white font-weight-bold"> Nº asiento</td>
                                {% set space= 0 %}
                                {% for i in 1..room.getNColumns() %}
                                    {% if space==0 and i>= (room.getNColumns()/2) %}
                                        {% set space= 1 %}
                                        <td class="space">space</td>
                                    {% endif %}
                                    <td class="text-white">{{ i }}</td>
                                {% endfor %}
                            </tr>

                            {#
                            Este bucle crea los asientos poniendole el valor de la fila y columna. Hay dos espacios
                                en la sala a tener en cuenta: un sólo espacio que hay entre la mitad de las filas y un
                                espacio por cada mitad de las columnas.
                                Por eso creamos una variable fuera del bucle para indicar que aún no se ha creado el
                                espacio entre las filas. Cuando se cree, la ponemos a uno y no volverá a crear ningún
                                espacio. Sin embargo en el espacio entre columnas, se creo uno por cada fila por lo que
                                al empezar el bucle de creación de la fila se resetea el valor de espacio entre columnas
                            #}
                            {% set spaceRow= 0 %}
                            {% for i in 1..room.getNRows() %}
                                {% set spaceColumns= 0 %}
                                {% if spaceRow==0 and i>= (room.getNRows()/2) %}
                                    {% set spaceRow= 1 %}
                                    <tr class="seatVGap"></tr>
                                {% endif %}
                                <tr>
                                    <td class="text-white">{{ i }}</td>
                                    {% for j in 1..room.getNColumns() %}
                                        {% if spaceColumns == 0 and j>= (room.getNColumns()/2) %}
                                            <td></td>
                                            {% set spaceColumns= 1 %}
                                        {% endif %}
                                        <td>
                                            {% if matrixStatusSeats[i][j] == true %}
                                                <input type="checkbox" class="seats"
                                                       value="Fila {{ i }} Asiento {{ j }},">
                                            {% else %}
                                                <div class="smallBox redBox"></div>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>


                            {% endfor %}

                        </table>

                        <br/>

                    </div>

                </div>

                <div class="d-flex justify-content-center mb-4">
                    <button onclick="selectionToPayment()" class="btn btn-dark btn-sm">Confirmar selección</button>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block custom_body_javascript %}

    <script>

        // Desactivamos la zona interactiva de reservar y el resultado
        $('.booking-page').ready(function () {
            $(".seatStructure *").prop('disabled', true);
            $(".displayerBoxes *").prop('disabled', true);
        });

        // Función que toma los datos del usuario (email y numero de asientos)
        function takeData() {
            // Si no se ha introducido ningún dato
            if (($("#userEmail").val().length == 0) || ($("#numSeats").val().length == 0)) {
                alert("Introduce tu email y el número de asientos");
            } else if (($("#numSeats").val() < 0) || ($("#numSeats").val() > 10)) {
                alert("Introduce un número de asientos válido");
            } else {
                $(".inputForm *").prop("disabled", true);
                $(".seatStructure *").prop("disabled", false);
                document.getElementById("notification").innerHTML = "<b style='margin-top:2px;background:yellow;'>Selecciona tus asientos</b>";
            }
        }


        // Función para actualizar los texts Areas con los datos de la selección
        function selectionToPayment() {

            if ($("input:checked").length == ($("#numSeats").val())) {
                $(".seatStructure *").prop("disabled", true);

                var allSeatsVals = [];

                // Guardando los valores en sus arrays respectivamente
                $('#seatsBlock :checked').each(function () {
                    allSeatsVals.push($(this).val());
                });


                window.location = window.location.origin + "/booking/processBooking?seats=" + allSeatsVals.toString() +
                    "&id_session=" + {{ session.getId() }};
            } else {
                alert("Tienes que seleccionar " + ($("#numSeats").val()) + " asientos")
            }
        }


        // Cambia de color depende de si se selecciona o no
        $(":checkbox").click(function () {
            if ($("input:checked").length == ($("#numSeats").val())) {
                $(":checkbox").prop('disabled', true);
                $(':checked').prop('disabled', false);
            } else {
                $(":checkbox").prop('disabled', false);
            }
        });


        function sendData() {
            var formData = new FormData();
            formData.append("userEmail", $("#nameDisplay").val());
            formData.append("nSeats", $("#NumberDisplay").val());
            formData.append("seats", $("#seatsDisplay").val());
            $.ajax({
                url: "/booking/processBooking",
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    alert(response);
                }
            });
        }

    </script>
{% endblock %}