{% extends 'base.html.twig' %}

{% block title %}Cartelera | Cinefily{% endblock %}

{% block main %}

    <div class="form-showtime">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-12 col-md-3 ">
                {{ form_row(form.cinema) }}
            </div>

            <div class="col-12 col-md-3">
                {{ form_row(form.schedule) }}
            </div>

            <div class="col-12 col-md-1 ml-2">
                {{ form_widget(form.submit,{'attr': {'class': 'btn-primary btn submit-search-showtimes'}}) }}
            </div>

        </div>
        {{ form_end(form) }}
    </div>


    {% if sessionsByEvent is not null %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Evento</th>
                <th scope="col"></th>
                <th scope="col">Horario</th>
            </tr>
            </thead>
            <tbody>
            {% for id_event,sessions in sessionsByEvent %}
                <tr>
                    <td><img src="{{ asset('uploads/images/' ~ sessions.event.getPosterPhoto()) }}"
                             class="db_poster_photo" alt="Poster photo" height="200" width="170"/>

                    </td>
                    <td>
                        <div class="h5">{{ sessions.event.getTitle() }}</div>
                    </td>
                    <td>
                        <div class="row">
                        {% for room_number,session in sessions %}
                            {% if room_number != 'event' %}
                                <div class="col-12 mt-2">
                                    <div class="h6">Sala {{ room_number }}</div>
                                {% for one_session in session %}
                                    <a class="btn btn-primary button-showtimes" href="/booking/?session={{ one_session.getId() }}"
                                       role="button">{{ one_session.schedule|date("H:i") }}</a>
                                {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {#
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Localización</th>
            <th scope="col">Número de salas</th>
            <th scope="col">Asientos totales</th>
            <th scope="col">Precio de las entradas</th>
        </tr>
        </thead>
        <tbody>
        {% for cinema in data %}
            <tr>
                <th scope="row">{{ cinema.name }}</th>
                <td>{{ cinema.location }}</td>
                <td>{{ cinema.n_rooms }}</td>
                <td>{{ cinema.n_seats }}</td>
                <td>{{ cinema.tickets_price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    #}
{% endblock %}
