<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.75, maximum-scale=0.75" charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <title></title>

</head>


<body>

<main>
    {% if event is not defined %}
        {% set event= ticket.event %}
    {% endif %}
    {% if session is not defined %}
        {% set session= ticket.session %}
    {% endif %}
    {% if room is not defined %}
        {% set room= ticket.room %}
    {% endif %}
    {% if cinema is not defined %}
        {% set cinema= ticket.cinema %}
    {% endif %}

    <div class="movie-ticket" style="background: #ffffff;
              box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
              width: 65%;
              max-width: 315px;
              margin-top: 50px;
              border-radius: 10px;
              display: inline-block;
              height: 285px;">
        <div class="movie-header poster-ticket"
             style="background: url('https://i.blogs.es/aa91a3/cine-/1366_2000.jpg'); background-size: cover; background-position: center;
                     padding: 0;
                     margin: 0;
                     width: 100%;
                     display: block;
                     border-top-left-radius: 10px;
                     border-top-right-radius: 10px;
                     position: relative;
                     bottom: 46px;
                     height: 50%;">
        </div><!--movie-header-->
        <div class="movie-content">
            <div class="movie-content-header">
                <div class="h6 movie-title" style="font-size: 1rem;margin-bottom: .5rem;font-weight: 500;
                line-height: 1.2; display: table-cell;color: black;">
                    {{ event.getTitle() }}</div>
                {# <div class="imax-logo"></div> #}
            </div>
            <div class="movie-info" style="background: cornsilk;">
                <div class="info-section" style="  display: table-cell;
  text-transform: uppercase;
  text-align: center;">
                    <label style="  display: block;
  color: #26272b;
  font-weight: 800;
  margin-bottom: .5em;
  font-size: 10px;">Fecha</label>
                    <span style="  font-weight: 100;
  font-size: 12px;
  color: black;">{{ session.schedule|date('d/m/y H:i') }}</span>
                </div><!--date,time-->
                <div class="info-section">
                    <label>Sala</label>
                    <span>{{ room.getNumber() }}</span>
                </div><!--screen-->
                <div class="info-section">
                    <label>Fila/Asiento</label>
                    <span>
                    {% if matrixSeats is defined %}

                        {% for row,columns in matrixSeats %}
                            {% for column in columns %}
                                {{ row }}/{{ column }}
                            {% endfor %}
                        {% endfor %}

                    {% else %}
                        {{ ticket.ticket.getSeatBooked().getSeat().getRow() }} /
                        {{ ticket.ticket.getSeatBooked().getSeat().getNumber() }}
                    {% endif %}
                </span>
                </div><!--row-->
            </div>


            {% if ticket.ticket is defined and ticket.ticket.getQrCode() is not null %}
                {% set qr= ticket.ticket.getQrCode() %}
            {% endif %}
            <div class="row">
                <div class="col-6">
                    <div class="info-section">
                        <label class="text-left mt-3"></label>
                        <span>{{ room.getCinema().getName() }}</span>
                    </div>
                </div>

                {% if qr is defined and qr is not null %}
                    <svg class="col-6" height="90">
                        {{ qr|raw }}
                    </svg>
                {% endif %}
            </div>
        </div><!--movie-content-->
    </div><!--movie-card-->
</main>

</body>
</html>