<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.75, maximum-scale=0.75" charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block javascripts_head %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {#  <script src="{{ asset('build/js/app.js') }}"></script>#}
    {% endblock %}


    {% block stylesheets_head  %}

        <link rel="stylesheet" href="{{ asset('build/js/app.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="data:image/x-icon;base64,AAABAAEAICAAAAEAIACoEAAAFgAAACgAAAAgAAAAQAAAAAEAIAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAD//////////////////////////////////////v7+//7+/v/+/v7/7+/v/8vLy/+dnZ3/
eHh4/2ZmZv9jY2P/bm5u/4yMjP+4uLj/4uLi//z8/P/+/v7//v7+//7+/v//////////////////
/////////////////////////////////////////////////////v7+//7+/v/+/v7/8/Pz/7W1
tf8oKCj/BQUF/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8WFhb/TU1N/+bm5v/+/v7//v7+
//7+/v////////////////////////////////////////////////////////////7+/v/+/v7/
3t7e/2FhYf8XFxf/sbGx/2FhYf8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wUFBf+C
goL/lpaW/zQ0NP+zs7P/+vr6//7+/v/+/v7/////////////////////////////////////////
///+/v7//f39/62trf8dHR3/AAAA/wAAAP8UFBT/sbGx/15eXv8AAAD/AAAA/wAAAP8AAAD/AAAA
/wAAAP8BAQH/goKC/5mZmf8JCQn/AAAA/wYGBv9paWn/8PDw//7+/v/+/v7/////////////////
/////////////////v7+//v7+/+FhYX/BgYG/wAAAP8AAAD/AAAA/wAAAP8RERH/sbGx/2JiYv8A
AAD/AAAA/wAAAP8AAAD/BQUF/4GBgf+Wlpb/CAgI/wAAAP8AAAD/AAAA/wAAAP88PDz/5OTk//7+
/v/+/v7///////////////////////7+/v/8/Pz/iIiI/wMDA/8AAAD/AAAA/wAAAP8AAAD/AAAA
/wAAAP8UFBT/sbGx/15eXv8AAAD/AAAA/wEBAf+Dg4P/mZmZ/wgICP8AAAD/AAAA/wAAAP8AAAD/
AAAA/wAAAP85OTn/6Ojo//7+/v/+/v7////////////+/v7//v7+/6Wlpf8HBwf/AAAA/wAAAP8A
AAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8QEBD/srKy/2FhYf8GBgb/gICA/5aWlv8JCQn/AAAA/wAA
AP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP9MTEz/+Pj4//7+/v////////////7+/v/f39//FBQU
/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8UFBT/srKy/62trf+ampr/
BgYG/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wEBAf+MjIz//v7+//7+/v//
////+/v7/1paWv8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wQE
BP+JiYn/4eHh/2dnZ/8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA
/xYWFv/a2tr//v7+///////Hx8f/CQkJ/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/
AAAA/wAAAP8CAgL/g4OD/5qamv8ZGRn/srKy/11dXf8BAQH/AAAA/wAAAP8AAAD/AAAA/wAAAP8A
AAD/AAAA/wAAAP8AAAD/AAAA/2tra//+/v7//v7+/2RkZP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAA
AP8AAAD/AAAA/wAAAP8AAAD/AwMD/35+fv+YmJj/CgoK/wAAAP8RERH/s7Oz/2BgYP8BAQH/AAAA
/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/Dw8P/+3t7f/+/v7/EBAQ/wAAAP8AAAD/
AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wMDA/+Dg4P/mZmZ/wUFBf8AAAD/AAAA/wAAAP8T
ExP/srKy/19fX/8BAQH/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/oKCg//7+
/v8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8CAgL/fn5+/5mZmf8LCwv/AAAA
/wAAAP8AAAD/AAAA/wAAAP8SEhL/s7Oz/19fX/8BAQH/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/
AAAA/wAAAP9bW1v//v7+/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/BAQE/4ODg/+Y
mJj/BgYG/wkJCf8TExP/GBgY/xkZGf8XFxf/ERER/wgICP8SEhL/srKy/2BgYP8BAQH/AAAA/wAA
AP8AAAD/AAAA/wAAAP8AAAD/AAAA/ywsLP/19fX/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA
/w0NDf+EhIT/7u7u/7W1tf/FxcX/wMDA/7e3t/+ysrL/sLCw/7Ozs/+5ubn/wsLC/8PDw/+4uLj/
7+/v/2dnZ/8HBwf/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/GRkZ/+Xl5f8AAAD/AAAA/wAAAP8A
AAD/AAAA/wwMDP+JiYn/wMDA/7CwsP+kpKT/IiIi/wQEBP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAA
AP8AAAD/CAgI/ygoKP++vr7/qamp/8HBwf9xcXH/BQUF/wAAAP8AAAD/AAAA/wAAAP8ODg7/29vb
/wAAAP8AAAD/AAAA/wAAAP8AAAD/Y2Nj/4iIiP8KCgr/SEhI/4aGhv8AAAD/AAAA/wAAAP8AAAD/
AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/6Ojo/8qKir/ERER/6mpqf87Ozv/AAAA/wAAAP8A
AAD/AAAA/wsLC//Y2Nj/AAAA/wAAAP8AAAD/AAAA/wAAAP9zc3P/XFxc/wAAAP9ISEj/hoaG/wAA
AP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/o6Oj/yoqKv8AAAD/h4eH
/0lJSf8AAAD/AAAA/wAAAP8AAAD/ERER/97e3v8AAAD/AAAA/wAAAP8AAAD/AAAA/3Nzc/9cXFz/
AAAA/0hISP+Ghob/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP+j
o6P/Kioq/wAAAP+Hh4f/SUlJ/wAAAP8AAAD/AAAA/wAAAP8gICD/6urq/wAAAP8AAAD/AAAA/wAA
AP8GBgb/d3d3/2FhYf8FBQX/SEhI/4aGhv8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA
/wAAAP8AAAD/AAAA/6Ojo/8qKir/BwcH/4qKiv9OTk7/BQUF/wAAAP8AAAD/AAAA/zw8PP/8/Pz/
AAAA/wAAAP8AAAD/AAAA/56env/Nzc3/ycnJ/4uLi/9MTEz/hoaG/wAAAP8AAAD/AAAA/wAAAP8A
AAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/o6Oj/y8vL/+np6f/0dHR/8XFxf+AgID/AAAA/wAA
AP8AAAD/dXV1//7+/v8uLi7/AAAA/wAAAP8AAAD/CgoK/wwMDP8MDAz/CQkJ/0hISP+Ghob/AAAA
/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP+jo6P/Kioq/wsLC/8MDAz/
DAwM/wgICP8AAAD/AAAA/wICAv/Dw8P//v7+/4+Pj/8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8A
AAD/ZWVl/6ysrP9PT0//T09P/09PT/9PT0//T09P/09PT/9PT0//T09P/09PT/9PT0//T09P/8DA
wP9DQ0P/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/LCws//v7+//+/v7/5ubm/yAgIP8AAAD/AAAA
/wAAAP8AAAD/AAAA/wAAAP+kpKT//v7+//7+/v/+/v7//v7+//7+/v/+/v7//v7+//7+/v/+/v7/
/v7+//n5+f/5+fn//v7+/3l5ef8AAAD/AAAA/wAAAP8AAAD/AAAA/wEBAf+fn5///v7+//7+/v/+
/v7/lZWV/wEBAf8AAAD/AAAA/wAAAP8AAAD/AAAA/6SkpP/r6ur/3Nva/9nY1//W1NP/29rY/+fm
5v/X1tX/1dPS/9/e3f/X1tT/rauo/46Khv/19fT/enp6/wAAAP8AAAD/AAAA/wAAAP8AAAD/PDw8
//Pz8//+/v7///////7+/v/5+fn/RERE/wAAAP8AAAD/AAAA/wAAAP8AAAD/o6Oj/4mGgv+2tLL/
h4OA/397d/9uaWX/fXl1/4B8eP9xbWj/oZ6b/316dv+UkY3/cW1o/727uf96enr/AAAA/wAAAP8A
AAD/AAAA/w0NDf/Kysr//v7+/////////////v7+//7+/v/e3t7/KCgo/wAAAP8AAAD/AAAA/wAA
AP+kpKT/k5CN/6uopv+NiYb/l5SR/4aCf/+rqKb/g397/356d/+IhYH/kY2K/2plYf+cmZb/ube1
/3p6ev8AAAD/AAAA/wAAAP8GBgb/mpqa//7+/v/+/v7//////////////////v7+//7+/v/Q0ND/
HR0d/wAAAP8AAAD/AAAA/6SkpP/x8PD/z83M/93c2//Z19b//v79//7+/v/9/f3/4uHg/6yqp//C
wb//rKqn//39/f/+/v7/enp6/wAAAP8AAAD/BQUF/4aGhv/7+/v//v7+////////////////////
/////////v7+//7+/v/W1tb/NTU1/wAAAP8AAAD/l5eX/+7u7v/b29v/29vb/9vb2//b29v/29vb
/9vb2//b29v/29vb/9vb2//b29v/29vb//Ly8v9ubm7/AAAA/w4ODv+Xl5f//v7+//7+/v//////
/////////////////////////////////v7+//7+/v/r6+v/aGho/wUFBf8rKyv/Tk5O/xEREf8R
ERH/ERER/xEREf8RERH/ERER/xEREf8RERH/ERER/xEREf8RERH/W1tb/xwcHP8wMDD/w8PD//39
/f/+/v7//v7+/////////////////////////////////////////////v7+//7+/v/9/f3/x8fH
/09PT/8LCwv/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wEBAf8sLCz/
lJSU//b29v/+/v7//v7+////////////////////////////////////////////////////////
//////////7+/v/+/v7/+/v7/9HR0f+FhYX/Pj4+/wwMDP8AAAD/AAAA/wAAAP8AAAD/AgIC/yYm
Jv9nZ2f/tLS0//Dw8P/+/v7//v7+//7+/v//////////////////////////////////////AAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAA=" rel="icon" type="image/x-icon" >
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'><link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    {% endblock %}


</head>
<body>
{% include 'includes/header.html.twig' %}
{# {% include 'includes/sidebar.html.twig' %}#}

{% for flash_message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ flash_message }}
    </div>
{% endfor %}

{% for flash_message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ flash_message }}
    </div>
{% endfor %}

{% for flash_message in app.flashes('warning') %}
    <div class="alert alert-warning">
        {{ flash_message }}
    </div>
{% endfor %}

<main>
    {% block main %}
    {% endblock %}
</main>


{% include 'includes/footer.html.twig' %}

{% block custom_body_javascript %}

{% endblock %}
</body>
</html>
