{% extends 'base.html.twig' %}

{% block title %}Contacto | Cinefily{% endblock %}


{% block main %}
    <div class="add-event-form">
        <div class="title">
            <h5><i class="fas fa-envelope"></i>
                Contacto
            </h5>
        </div>
        {{ form_start(form) }}

        <div class="row">
            <div class="title-event col-12 ">
                {{ form_row(form.email) }}
            </div>

            <div class="type-event col-12 ">
                {{ form_row(form.reason) }}
            </div>

            <div class="type-event col-12 ">
                {{ form_row(form.description) }}
            </div>

            <div class="submit-event col-12 text-center">
                {{ form_row(form.submit) }}
            </div>

        </div>
    </div>
    {{ form_end(form) }}


{% endblock %}
