{% extends 'base.html.twig' %}

{% block main %}



    <div class="container">
        <div class="main-body">
            <h3 class="mt-4"><i class="fas fa-user mr-2 "></i>Perfil del usuario con ID <span
                        class="font-italic">{{ user.getId() }}</span></h3>
            <div class="row">
                <div class="col-lg-4">
                    {% include 'user/includes/data_profile.html.twig' with
                        {'link': '/user/myTickets?id='~ user.getId(),'link_name': 'Entradas' , 'icon': 'fas fa-ticket-alt',
                            'link2': '/user/myCoupons','link_name2': 'Cupones' , 'icon2': 'fas fa-tags'} %}
                </div>
                <div class="col-lg-8">
                    <div class="user-profile">
                        <div class="card-body">
                            <div class="row">

                                <div class="col-12 mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Nombre</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">

                                        <input type="text" id="name" name="name" class="form-control"
                                               value="{{ user.getName() }}" disabled>

                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Apellidos</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="surname" name="surname" class="form-control"
                                               value="{{ user.getSurname() }}" disabled>
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="surname" name="email" class="form-control"
                                               value="{{ user.getEmail() }}" disabled>
                                    </div>
                                </div>

                                <div class="col-12 mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Teléfono (Opcional)</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="phone" name="phone" class="form-control"
                                               value="{{ user.getPhoneNumber() }}" disabled>
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Ciudad (Opcional)</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="city" name="city" class="form-control"
                                               value="{{ user.getCity() }}" disabled>
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Privilegios</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="privileges" name="privileges" class="form-control"
                                               value="{{ privileges }}" disabled>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
