{% extends 'base.html.twig' %}

{% block title %}Mis entradas | Cinefily{% endblock %}


{% block main %}

    <div class="container">
        <div class="main-body">
            <div class="row">
                <div class="col-lg-3">
                    <div class="user-profile">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                {% if user.getPhoto() is defined %}
                                    <div class="avatar">
                                        <img class="profile-photo rounded-circle z-depth-2" alt="Foto de perfil"
                                             src="{{ asset('uploads/images/' ~ user.getPhoto()) }}"
                                             data-holder-rendered="true">
                                    </div>
                                {% else %}
                                    <img src="https://w7.pngwing.com/pngs/867/694/png-transparent-user-profile-default-computer-icons-network-video-recorder-avatar-cartoon-maker-blue-text-logo.png"
                                         alt="Admin"
                                         class="p-1 bg-primary" width="100">
                                {% endif %}
                                <div class="mt-3">
                                    {% if user.getName() is defined and user.getName() is not null %}
                                        <h4>{{ user.getName() }}</h4>
                                    {% else %}
                                        <h4>Desconocido</h4>
                                    {% endif %}
                                    <p class="text-secondary mb-1">Miembro desde el {{ user.getCreatedAt()|date('d/m/y') }}</p>
                                    <p class="text-muted font-size-sm">Granada</p>
                                    <button class="btn btn-primary">Seguir</button>
                                    <button class="btn btn-outline-primary">Mensaje</button>
                                </div>
                            </div>
                            <hr class="my-4">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">
                                        <i class="fas fa-comments fa-lg pr-2"></i>
                                        Comentarios realizados
                                    </h6>
                                    {% if user_comments is defined and user_comments is not null %}
                                        <span class="text-secondary">{{ user_comments }}</span>
                                    {% else %}
                                        <span class="text-secondary">0</span>
                                    {% endif %}
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">
                                        <i class="fas fa-tags fa-lg pr-2"></i>
                                        Cupones
                                    </h6>
                                    {% if user_coupons is defined and user_coupons is not null %}
                                        <span class="text-secondary">{{ user_coupons }}</span>
                                    {% else %}
                                        <span class="text-secondary">0</span>
                                    {% endif %}
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">
                                        <i class="fas fa-ticket-alt fa-lg pr-2"></i>
                                        Entradas compradas
                                    </h6>
                                    {% if user_tickets is defined and user_tickets is not null %}
                                        <span class="text-secondary">{{ user_tickets }}</span>
                                    {% else %}
                                        <span class="text-secondary">0</span>
                                    {% endif %}
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="user-profile">
                        <div class="card-body">
                            <div class="h4"><i class="fas fa-ticket-alt pr-2"></i>Tus últimas 10 entradas</div>
                            <div class="row">
                                {% for ticket in tickets %}
                                    <div class="col-6 mt-3">
                                        <div class="h6 font-weight-bold">{{ ticket.ticket.getSaleDate|date('d/m/y H:i') }}</div>
                                        {% include 'session/includes/ticket_movie.html.twig' %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}

    {% block custom_body_javascript %}

    {% endblock %}